name: Docker Build Frontend Image CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Check out code
        
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build & push Docker image
        with:
          image: opendevalpha/opendevmada-school-front
          appendMode: true
          addLatest: true
          registry: docker.io
          dockerfile: ./Frontend/Dockerfile
          directory: ./Frontend
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildArgs: |
            VITE_API_URL=${{ secrets.VITE_API_URL }}
